@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#background {
    background-image: url('./Sign_In_BG_transfund.png');
    background-repeat: no-repeat;
    background-size: cover;
}