@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');
@font-face {
    font-family: 'CustomFont';
    src: url('../../fonts/Hilsfiger.ttf') format('truetype');
}

#background {
    background-image: url('./Sign_In_BG_transfund.png');
    background-repeat: no-repeat;
    background-size: cover;
}